<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <div class="hamburger" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="nav-links">
        <a href="/">Home</a>
        <a href="/current-work/">Current Work</a>
        <a href="/models-tools/">Models & Tools</a>
        <a href="/publications/">Publications</a>
        <a href="/partners/">Partners</a>
      </div>
    </nav>
    <section>
      {{ content }}
    </section>
    <footer>
      <!-- &copy; to me -->
    </footer>
    <script>
      function toggleMenu() {
        const hamburger = document.querySelector('.hamburger');
        const navLinks = document.querySelector('.nav-links');
        
        hamburger.classList.toggle('active');
        navLinks.classList.toggle('active');
      }
    </script>
  </body>
</html>