<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/current-work/">Current Work</a>
      <a href="/models-tools/">Models & Tools</a>
      <a href="/publications/">Publications</a>
      <a href="/partners/">Partners</a>
    </nav>
    <main>
      {{ content }}
    </main>
    <footer>
      <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
    </footer>
  </body>
</html>
